 * {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
 }

 :root {
    --cor1: #023059;
    --cor2: #0455BF;
    --cor3: #0476D9;
    --cor4: #0487D9;
    --cor5: #F2E0D5;
 }
 
 /* @media screen and (max-width: 600px) {
    header ul {
        display: none;
    }
 } */

body {
    background: var(--cor5);
 }

 header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    background: var(--cor1);
 }

 header h1 {
    color: #fff;
    font-weight: 700;
 }

 ul {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    width: 100vw;
 }

 ul a {
    color: #fff;
    text-decoration: none;
 }

 ul li {
    display: flex;
    background: var(--cor2);
    width: 70px;
    padding: 10px;
    justify-content: center;
    align-items: center;
 }

 main {
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
 }

 article {
    display: flex;
    text-align: justify;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
    background: var(--cor4);
    border-radius: 10px;
    margin-top: 20px;
 }

 article h2 {
    margin: 20px 0;
 }

 article p {
    margin: 0 15px;
    text-indent: 50px;
 }