@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');




main {
    background-color: white;
    border-radius: 20px;
    padding: 1%;
    margin: auto;
    width: 50%;
    box-shadow: 10px 15px 20px #373F51;
}

body {
    background-color: #DDE2C6;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 3em;
    border-radius: 20px;
    background-color: #373F51;
    color: white;
}

h2 {
    color: #A78682;

}

h3 {

}

a {
    font-size: 1.5em;
    text-decoration: none;
    color: black
}

ul {
}