@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    margin: 0%;
    padding: 0%;

}

table, tr, td , thead{
    width: 400px;
    height: 25px;
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    padding: 2%;
    border: 1px solid black;
    font-weight: bold;
    text-align: left;
}

thead {
    background-color: gray;
    color: white;
}

td {
    text-align: center;
}