* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}



.container {
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }

  ul {
    display: none;
    transition: all .5s ease-in-out;
  }

  li h1{ 
    color: #fff;
    font-size: 30px;
    margin-bottom: 60px;
  }

  li a {
    transition: all .5 ease-out;
    margin-left: 40px;
  }

.links  {
  display: flex;
  align-items: center;
  height: 50px;
  border-radius: 0px 10px 10px 0px;
  padding-left: 30px;
  font-size: 18px;
}

  a {
    color: #FFFFFF;
    text-decoration: none;
  }

  a:hover {
    color: #FFA14A;
  }
  
  #checkbox-menu {
    opacity: 0;
  }

  #checkbox-menu:checked ~ ul {
    background: #000;
    display: block;
    width: 380px;
    height: 100vh;
    margin-top: -70px;
    margin-right: 100px;
    backdrop-filter: blur (100px);
  }

  #checkbox-menu:checked+  label span{
    margin-left: 400px;
    background: #000;
  }

  #checkbox-menu:checked body {
    display: block;
  }

  label {
    cursor: pointer;
    position: relative;
    display: block;
    height: 50px;
    width: 380px;
  }
  
  label span {
    position: absolute;
    display: block;
    height: 6px;
    width: 50px;
    border-radius: 30px;
    background: rgb(0, 0, 0);
    transition: .2s ease-in-out;
    margin-top: 15px;
    margin-left: 60px;
  }
  
  label span:nth-child(1) {
    top: 0px;
  }
  
  label span:nth-child(2) {
    top: 8px;
  }
  
  label span:nth-child(3) {
    top: 16px;
  }
  
  #checkbox-menu:checked+label span:nth-child(1) {
    transform: rotate(-45deg);
    top: 8px;
  }
  
  #checkbox-menu:checked+label span:nth-child(2) {
    opacity: 0;
  }
  
  #checkbox-menu:checked+label span:nth-child(3) {
    transform: rotate(45deg);
    top: 8px;
  }

  .imagens {
    width: 28px;
    margin-right: 35px;
    margin-left: -35px;
  }

  p {
    margin-left: 20px;
    margin-top:-28px
  }

  .titulo_menu {
    padding-top: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 15px;
  }

  .titulo_menu img {
    width: 50px;
    margin-left: 10px;
}

  .titulo_menu h1 {
    margin-top: 10px;
    margin-left: 10px;
    color: #fff;
    text-align: left;
    font-size: 24px;
  }

  .infos {
    margin-top: 20px;
  }

  .login-cadastro {
    display: flex;
    margin-top: 25px;
    flex-direction: row; 
  }

  .login-cadastro button {
    color: #fff;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 700;
    transition: all .2s ease-out;
    width: 185px;
    margin-right: 11px;
    margin-left: 10px;
    height: 50px;
}

  .enviar {
    border-radius: 5px ;
    background: #ff7a00;
    cursor: pointer;
  }

  .enviar:hover {
    background: #FFA14A;
  }


  .cadastro {
    background: #ff7a00;
    border-radius: 5px;
    cursor: pointer;
  }

  .cadastro:hover{
    background: #FFA14A;
  }
