body { 
    height: 98vh;
    background-image: url(https://i.pinimg.com/736x/d5/c8/eb/d5c8ebdfa1eb3ec56d3c284577f3a1c6.jpg);
    background-size: 400px 400px;
    background-repeat: no-repeat;
    background-position: center left;
}