
* {
   margin: 0;
   padding: 0;
   font-family: Arial, Helvetica, sans-serif;
}
   :root {
      --cor1: #023059;
      --cor2: #0455BF;
      --cor3: #0476D9;
      --cor4: #0487D9;
      --cor5: #F2E0D5;
   }

   body, html {
      background-color: var(--cor5);
   }

   header {
      background-color: var(--cor1);
   }

   header > h1 { 
      padding: 10px;
      text-align: center;
      color: #fff ;
   }

   #burguer {
      background-color: var(--cor4);
      display: block;
      color: #fff;
      text-align: center;
      padding: 10px;
      cursor: pointer;
   }

   #burguer:hover {
      background-color: white;
      color: var(--cor1);
   }

   menu {
      display: none;
   }

   menu > ul {
      list-style-type: none;
   }

   menu a {
      display: block;
      padding: 10px;
      text-decoration: none;
      text-align: center;
      background-color: var(--cor2);
      color: #fff;
      border-top: 1px double var(--cor4);
   }

   menu  a:hover {
      background-color: var(--cor3);
   }

   main {
      width: 90vw;
      background-color: #fff;
      margin: auto;
      padding: 10px;
      border-radius: 10px;
      margin-top: 10px;
   }

   article > h2 {
      padding-bottom: 20px;
   }
   
   article p {
      text-indent: 20px;
      margin-bottom: 20px;
      text-align: justify;
   }