@charset "UTF-8";

/** Estilo pra impressoras **/

* {
    margin: 10px;
    padding: 10px;
}

html { 
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    line-height: 1.5em;
}

menu {
    display: none;
}

article::after {
    content: 'Esse artigo foi impresso atraves daqui mesmo';
}