* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --cor1: #0030AD;
    --cor2: #00237A;
    --cor3: #0048FF;
    --cor4: #00113B;
    --cor5: #0074E0;
}

.news {
    background: var(--cor4);
    padding: 20px;
}

.news .texto {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 0px;
}

.news h1 {
    color: #fff;
    font-weight: 700;
    text-align: left;
    font-size: 24px;
    margin-left: 170px;
}

.news span {
    color: #fff;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
}

.input-box{
    height: 50px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-left: 150px;
    margin-right: -105px;
    padding-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-align: left;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.164);
}

.input-box::placeholder {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-align: left;
}

.btn {
    height: 50px;
    width: 200px;
    background: var(--cor2);
    color: #fff;
    border: none;
    outline: none;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 23px;
    text-align: center;
    margin-left: 150px;    
    cursor: pointer;
    box-shadow: -4px 4px 0 #001038;

}

.btn:active {
    box-shadow:  4px -4px 0 #61310c ;
    font-size: 22px;
    border-radius: 5px;
}

.rodape {
    background-color: var(--cor1);
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 50px;
}

.bold {
    font-weight: bold;
    font-size: 20px;
    margin: 30px 0px 20px 0px;
}

li { 
    cursor: pointer;
    font-size: 16px;
    margin-top: 8px;
}

a {
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    text-decoration: none;
}

a:hover {
    color: var(--cor5);
    text-decoration: underline;
}

.box {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box .btn {
    display: flex;
    width: 50px;
    height: 50px;
    margin: 0 8px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0px 0px 10px 10px rgb(0 0 0 / 10%);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.btn {
    transition: all .1s ease-out;
}

.icon {
    width: 23px;
    height: 23px;
}

.box .btn:hover {
    transform: scale(1.1);
    background: var(--cor4);
    border: 1px solid #fff;
    box-shadow: 0px 0px 10px 10px rgb(0 0 0 / 10%);
}

.marcaregistrada {
    padding: 10px;
    background-color: var(--cor4);
    text-align: center;
    color: #fff;
    font-size: 13px;
}   