
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
}

body {
    background: linear-gradient(to right, rgb(255, 177, 177), #fff);
    min-height: 100vh;
}

div.retangulo { 
    background-color: red;
    width: 100%;
    height: 200;
    position: absolute
}

.luffy__image {
    position: absolute;
    left: 17%;
    transform: translate(-63%, 20%);
    height: 70%;
}

.luffy__info {
    top: 6%;
    left: 1%;
    background-color: white;
    box-shadow: -3px 4px 0 red;
    height: 5%;
    width: 20%;
    position: absolute;
    text-align: justify;
}

.luffy__nome {
    color: #000;
    margin-left: 2%;
    text-transform: capitalize;
}