@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    margin: 0px;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

.box {
    width: 400px;
    height: 600px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.363);
}

.logo {
    display: block;
    position: absolute;
    width: 4vw;
    align-items: left;
    margin-left: 25px;
    margin-top: 20px;
    opacity: 0.8;
}

.fundo {
    filter: blur(1px);
    box-shadow: 5px 0px 10px black inset;
    position: absolute;
    height: 100%;
    width: 100%;
    box-shadow: none;
    opacity: 1px;
}

.cabecalho {
    float:direita; 
    text-align: center;
    margin-top: 30px;
    font-family: 'Roboto';
    font-weight: bold;
}

.img__perfil {
    float: direita;
    width: 150px;
    height: 150px;
    margin-left: 125px;
    padding-top: 30px;
}

.icones__email{ 
    position: absolute;
    text-align: left;
    margin-left: 315px;
    margin-right: 20px;
    border-radius: 3px;
    height: 2.7vh;
}

.icones__senha{ 
    position: absolute;
    text-align: left;
    margin-left: 315px;
    margin-right: 20px;
    border-radius: 3px;
    height: 2.7vh;
}

.email {
    float:direita; 
    text-align: left;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 3px;
    height: 2.7vh;
}

.email>input {
    width: 70%;
    height: 3vh;
    border: none;
}

.emailine {
    float:direita;
    color: black;
    margin-left: 1px;
    margin-right: 1px;
    height: 4px;
}

.senha {
    float:direita; 
    text-align: left;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 3px;
}

.senha>input {
    width: 70%;
    height: 3vh;
    border: none
}

.buttons{
    float:direita; 
    text-align: center;
    margin-top: 40px;
}

.button__acessar {
    margin-left: 20px;
    margin-right: 20px;
    width: 19vw;
    height: 10vh;
    border: none;
    border-radius: 12px; 
    background: linear-gradient(to right,#52BAB9, #79D2BE,#61BEB6);
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.411);

}

.button__acessar:hover {
    background: linear-gradient(to right,hsla(179, 43%, 53%, 0.400), hsla(167, 50%, 65%, 0.400),hsla(175, 42%, 56%, 0.400));;
    transition: 0.5s ease-in-out;
}

.checarcaixa {
    float:direita; 
    text-align: left;
    margin-top: 10px;
    font-size: 0.8em;
    margin-left: 20px;
    margin-right: 20px;
    padding-right: 20px;
    gap: 0px;
}

.checarcaixa>input#remember+label {
    background-color: black;
}

.rodape {
    float:direita; 
    margin-top: 35px;
    text-align: center;
}

.rodape > h3 {
    font-size: 0.8em;
}

.rodape >.subsline {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px ;
}

@media